<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="835.5px" height="347.5px" viewBox="0 0 835.5 347.5" enable-background="new 0 0 835.5 347.5" xml:space="preserve">
      <g>
        <g>
          <defs>
            <polygon id="SVGID_1_" points="-85.833,430.5 918.5,430.5 918.5,-88.098 -85.833,-88.098 -85.833,430.5 			" />
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" overflow="visible" />
          </clipPath>
          <g transform="matrix(1 0 0 1 7.653555e-005 2.292573e-005)" clip-path="url(#SVGID_2_)">

            <image overflow="visible" width="1109" height="539" xlink:href="../../assets/img/76ED0FB3.jpg" transform="matrix(-0.9056 0 0 -0.9621 918.0488 430.0195)">
            </image>
          </g>
        </g>
      </g>
      <rect opacity="0.5" width="172.5" height="91.5" />
      <rect y="91.5" opacity="0.5" width="104.5" height="85" />
      <rect x="104.5" y="91.5" opacity="0.5" width="83" height="85" />
      <rect x="172.5" opacity="0.5" width="60" height="67.5" />
      <rect x="232.5" opacity="0.5" width="56" height="67.5" />
      <rect x="288.5" opacity="0.5" width="60" height="67.5" />
      <rect x="348.5" opacity="0.5" width="56" height="67.5" />
      <rect x="404.5" opacity="0.5" width="129" height="67.5" />
      <rect x="671.5" opacity="0.5" width="56" height="67.5" />
      <rect x="727.5" opacity="0.5" width="102" height="81.5" />
      <rect x="727.5" y="81.5" opacity="0.5" width="102" height="52.5" />
      <rect x="727.5" y="134" opacity="0.5" width="102" height="57.5" />
      <rect x="727.5" y="191.5" opacity="0.5" width="102" height="90" />
      <rect x="617.5" y="213.5" opacity="0.5" width="110" height="68" />
      <rect x="647.5" y="87.75" opacity="0.5" width="59" height="53.5" />
      <rect x="647.5" y="141.25" opacity="0.5" width="59" height="53.5" />
      <rect x="515.5" y="87.75" opacity="0.5" width="96.5" height="107" />
      <rect x="462.5" y="87.75" opacity="0.5" width="53" height="53.5" />
      <rect x="462.5" y="141.25" opacity="0.5" width="53" height="53.5" />
      <rect x="333.5" y="87.75" opacity="0.5" width="79" height="65.75" />
      <rect x="412.5" y="87.75" opacity="0.5" width="50" height="107" />
      <rect x="612" y="87.75" opacity="0.5" width="35.5" height="107" />
      <rect x="288.5" y="87.75" opacity="0.5" width="45" height="65.75" />
      <rect x="187.5" y="214.625" opacity="0.5" width="385" height="127.875" />
    </svg>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
        </ion-avatar>
        <h2>{{item.roomNumber + " " + item.roomName}}</h2>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>