<ion-header>
  <ion-navbar>
    <ion-title>111 Bourke St / Level 10</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="ap-map">
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="100%" height="100%" viewBox="0 0 835.5 347.5" enable-background="new 0 0 835.5 347.5" xml:space="preserve">
      <g>
        <g>
          <defs>
            <polygon id="SVGID_1_" points="-85.833,430.5 918.5,430.5 918.5,-88.098 -85.833,-88.098 -85.833,430.5 			" />
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" overflow="visible" />
          </clipPath>
          <g transform="matrix(1 0 0 1 7.653555e-005 2.292573e-005)" clip-path="url(#SVGID_2_)">

            <image overflow="visible" width="1109" height="539" xlink:href="../../assets/img/76ED0FB3.jpg" transform="matrix(-0.9056 0 0 -0.9621 918.0488 430.0195)">
            </image>
          </g>
        </g>
      </g>
      <rect id="10.13"opacity="0.5" width="172.5" height="91.5" />
      <rect id="10.12"y="91.5" opacity="0.5" width="104.5" height="85" />
      <rect id="10.11"x="104.5" y="91.5" opacity="0.5" width="83" height="85" />
      <rect id="10.14"x="172.5" opacity="0.5" width="60" height="67.5" />
      <rect id="10.15"x="232.5" opacity="0.5" width="56" height="67.5" />
      <rect id="10.16"x="288.5" opacity="0.5" width="60" height="67.5" />
      <rect id="10.17"x="348.5" opacity="0.5" width="56" height="67.5" />
      <rect id="10.19"x="404.5" opacity="0.5" width="129" height="67.5" />
      <rect id="10.27"x="727.5" opacity="0.5" width="102" height="81.5" />
      <rect id="10.28"x="727.5" y="81.5" opacity="0.5" width="102" height="52.5" />
      <rect id="10.29"x="727.5" y="134" opacity="0.5" width="102" height="57.5" />
      <rect id="10.32"x="727.5" y="191.5" opacity="0.5" width="102" height="90" />
      <rect id="10.33"x="617.5" y="213.5" opacity="0.5" width="110" height="68" />
      <rect id="10.30"x="647.5" y="87.75" opacity="0.5" width="59" height="53.5" />
      <rect id="10.31"x="647.5" y="141.25" opacity="0.5" width="59" height="53.5" />
      <rect id="10.20"x="462.5" y="87.75" opacity="0.5" width="53" height="53.5" />
      <rect id="10.21"x="462.5" y="141.25" opacity="0.5" width="53" height="53.5" />
      <rect id="10.08"x="333.5" y="87.75" opacity="0.5" width="79" height="65.75" />
    </svg>
  </div>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <span *ngFor="let item of aux_currentItems">
      <span ion-item>
        <details id="{{item.roomNumber}}details" (click)="highlightBlock(item, currentItems)">
         <summary class="mouse_pointer"> {{item.roomNumber + " " + item.roomName}}</summary>

           <div class="listItem">Number of seats: {{item.seats}}</div>
           <div class="listItemB" *ngIf="item.projector; else other_content">Projector: yes</div>
           <ng-template #other_content><div class="listItemB">Projector: no</div>
           </ng-template>

           <div class="listItemB" *ngIf="item.tv; else other_content">TV: yes</div>
           <ng-template #other_content><div class="listItemB">TV: no</div>
           </ng-template>

           <div class="listItemB" *ngIf="item.whiteboard; else other_content">Whiteboard: yes</div>
           <ng-template #other_content><div class="listItemB">Whiteboard: no</div>
           </ng-template>
        </details>
      </span>
    </span>
</ion-content>
