page-list-master {

}

.ap-map {
    padding: 44px;
}

.mouse_pointer {
  cursor: pointer;
}

.listItem{
  padding-top: 0.5cm;
  padding-left: 0.8cm;
}

.listItemB{
  padding-top: 0.2cm;
  padding-left: 0.8cm;
}
